


.cloud{
  position: absolute;
  z-index: 1;
}


#cloud1{
  top: 25vw;
  left: 3vw;
  width: 10vw;
}

#cloud2{
  top: 16vw;
  left: 1vw;
  width: 20vw;
}

#cloud3{
  top: 8vw;
  left: 2vw;
  width: 30vw;
}

#cloud4{
  top: 14vw;
  left: 12vw;
  width: 40vw;
}

#cloud5{
  left: 42vw;
  top: 20vw;
  width: 23vw;
}

#cloud6{
  left: 55vw;
  top: 18vw;
  width: 40vw;
}

#cloud7{
  width: 30vw;
  left: 74.5vw;
  top: 15vw;
}

#cloud8{
  left: 45vw;
  top: 9vw;
  width: 40vw;

}

.ocean1{
  width: 120vw;
  z-index: 0;
  top: 20vw;
  left: -19vw;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(0,0,255,0.5) 100%);
  animation: MoveUpDown 2s ease-in-out infinite;
}

.ocean2{
  width: 120vw;
  z-index: -1;
  top: 18vw;
  left: -5vw;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(0,0,255,0.5) 100%);
  animation: MoveUpDown 4s ease-in-out infinite;
}

.ocean3{
  width: 120vw;
  z-index: -2;
  top: 13vw;
  left: -19vw;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(0,0,255,0.5) 100%);
  animation: MoveUpDown 5s ease-in-out infinite;
}

#oceantransition{
  width: 100vw;
  height: 70vw;
  position: absolute;
  top: 45vw;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,#002661 50%, rgba(255,255,255,0) 100%);
}

.sun{
  width: 100vw;
  z-index: -3;
  top: -1vw;
  position: absolute;
}

.sky{
  width: 100vw;
  z-index: -4;
  position: absolute;
}


.oceanview{
  position: absolute;
  transition: transform 0.5s;
  will-change: transform;
}

#aboutsection{
  top: 55vw;
  position: absolute;
  width: 100vw;
}

#aboutauthor{
  width: 100vw;
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  left: calc(43vw/2);
  padding: 3vw;
  border-radius: 3vw;
}

#authortitle{
  text-align: center;
  font-size: 6vw;
  color: white;
  font-family: Arial;
  text-shadow: 0px 0px 2vw black;
  margin-bottom: 0px;
  margin-top: 0px;
}

#occupation{
  font-size: 2.5vw;
  font-family: Arial;
  color: white;
  text-align: center;
  text-shadow: 0px 0px 1vw black;
  margin-top: 0px;
  margin-bottom: 0px;
}

#description{
  font-size: 2vw;
  font-family: Arial;
  color: white;
  text-shadow: 0px 0px 1vw black;
  margin-top: 1.5vw;
  margin-bottom: 3vw;
  margin-left: auto;
  margin-right: auto;
  margin-left: 0.7vw;
  margin-right: 0.7vw;
}

#contacts{
  display: flex;
  justify-content: space-between;
  width: 25.5vw;
  margin-left: auto;
  margin-right: auto;
}

#projecttitle{
  position: relative;
  margin-top: 2vw;
  left: 50vw;
  transition: transform 1.5s;
  will-change: transform;
  width: 0vw;
}

#subimage{

  width: 40vw;
  top: 0vw;

}

#propeller{

  width: 10vw;
  position: absolute;
  top: 14vw;
  left: 35vw;
  transition: rotate 1.5s;

}

#projecttitletext{
  position: absolute;
  top: 14vw;
  left: 5vw;
  border-radius: 2vw;
  font-size: 5vw;
  font-family: arial;
  color: white;
  width: 28vw;
  text-align: center;
  margin-top: 4vw;
  margin-bottom: 1vw;
  margin-top: 1vw;
  text-shadow: 0px 0px 2vw black;
}

.link{
  color: lightblue;
  transition: background 0.3s;
  border-radius: 0.25vw;
  padding: 0.1vw;
  text-decoration: underline;
}

.link:hover{
  background: rgba(255,255,0,0.5)
}

#projects{
  width: 75vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1vw;
}

.project{
  width: 22vw;
  height: 22vw;
  margin: 1vw;
  overflow: hidden;
  position: relative;
  border-radius: 2vw;
  transition: box-shadow 0.5s;
}

.glass{
  border: solid 0.25vw rgba(255,255,255,0.2);
  background: rgba(255,255,255,0.2);
  backdrop-filter: blur(0.25vw);
  box-shadow: 0px 0px 5vw black;
}

.project:hover{
  box-shadow: 0px 0px 5vw white;
}

.projtitle{
  font-size: 3vw;
  text-align: center;
  font-family: Arial;
  color: white;
  text-shadow: 0px 0px 0.75vw black;
  margin-bottom: 0vw;
}

.projdescription{
  font-size: 2vw;
  font-family: Arial;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  margin-top: 1vw;
  color: white;
  text-shadow: 0px 0px 0.75vw black;
}

.projimage{
  width: 100%;
  opacity: 0.3;
  position: absolute;
  top: 0px;
  left: 0px;
  filter: blur(0.25vw);
  pointer-events: none;
}

.contactimage{
  width: 12vw;
  border-radius: 1vw;
  box-shadow: 0 0 2vw black;
  transition: box-shadow 0.1s;
}

.contactimage:hover{
  box-shadow: 0 0 2vw darkblue;
  cursor: pointer;
}

#caves{
  position: relative;
  height: 80vw;
  overflow: hidden;
}

.cave{
  will-change: transform;
}

#cave1{
  z-index: 0;
  top: 0vw !important;
}

#cave2{
  z-index: -1;
}

#cave3{
  z-index: -2;
}

#cave4{
  z-index: -3;
}

#cave5{
  z-index: -4;
}

#kelps1{
  position:relative;
}

.kelp1{
  position: absolute;
  top: 0vw;
  width: 15vw;
  left: -1vw;
}

#kelp11{
  animation: MoveUpDownKelp 2s ease-in-out infinite;
  animation-delay: -0.3s
}

#kelp12{
  animation: MoveUpDownKelp 2s ease-in-out infinite;
  animation-delay: -0.6s
}

#kelp13{
  animation: MoveUpDownKelp 2s ease-in-out infinite;
  animation-delay: -0.9s
}

#kelp14{
  animation: MoveUpDownKelp 2s ease-in-out infinite;
  animation-delay: -1.3s
}

#kelps2{
  position:relative;
  transform: scaleX(-1);
  left: 2vw;
}
.kelp2{
  position: absolute;
  top: 0vw;
  width: 20vw;
}

@keyframes fadeIn {
  0%{
    opacity: 0;
  },
  100%{
    opacity: 1;
  },
}


#cavetext{

  text-align: center;
  font-size: 6.6vw;
  color: white;
  font-family: Arial;
  text-shadow: 0px 0px 5vw black;
  position: relative;
  top: 20vw;
  z-index: -4;
  transition: transform 0.5s;
  opacity: 0.2;

  border-radius: 2vw;
  font-size: 5vw;
  font-family: arial;
  color: white;
  text-shadow: 0px 0px 2vw black;
  width: 50vw;

  margin-left: auto;
  margin-right: auto;

}

.cave{
  bottom: -20vw;
  position: absolute;
  width: 100vw;
  transition: transform 0.5s;
}

#cavemovers{
  position: absolute;
  bottom: 0vw;
  height: 55vw;
  width: 100vw;
  overflow: hidden;
}

html{
  overflow-y: hidden;
  overflow-x: hidden;
}

#loading{
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 2;
  pointer-events: none;
  background: #000031;
  transition: opacity 1s;
}

#loadingtext{
  font-size: 10vw;
  font-family: Arial;
  position: relative;
  margin-top: 0;
  color: white;
  opacity: 0.3;
  animation: LoadingText 3s ease-in-out infinite;
  top: 50vh;
  transform: translate3d(0, -5vw, 0);
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
  text-align: center;
  border-radius: 2vw;
  padding: 1vw;
}

@keyframes LoadingText {
  0%, 100% {
    box-shadow: 0vw 0vw 5vw white;
  }
  50% {
    box-shadow: 0vw 0vw 2vw white;
  }
}

body{
  margin: 0;
  background-color: #002661;
  background-size: 100vw;
  background-image: url("images/backgroundTile.svg");
  width: 100vw;
  overflow-x: hidden;
}

@keyframes MoveUpDownKelp {
  0%, 100% {
    transform-origin: bottom left;
    transform: rotate3d(0, 0, 1, 1deg);
  }
  50% {
    transform-origin: bottom left;
    transform: rotate3d(0, 0, 1, -1deg);
  }
}

@keyframes MoveUpDown {
  0%, 100% {
    rotate: 1deg;
  }
  50% {
    rotate: -1deg;
  }
}

@media (max-aspect-ratio: 7/9) {

  .ocean2{
    left: -19.5vw !important;
  }

  #aboutauthor{
    width: 80vw;
  }

  #occupation{
    font-size: 4.5vw !important;
  }

  #description{
    font-size: 3.5vw !important;
    width: 80vw;
  }

  #projects{
    width: 95vw !important;
  }

  .project{
    width: 42vw !important;
    height: 30vw !important;
    margin: 1.5vw;
  }


  .projtitle{
    font-size: 5vw !important;
  }

  .projdescription{
    font-size: 3.5vw !important;
  }

}
